* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px -6px #222;
}

header section{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    height: 40px;
    width: 170px;
}

.btn, .jj{
    border-radius: 50%;
}

.help {
    color: #1f57d0;
    background-color: #e7f0fe;
    padding: 10px 15px;
    transition: color 0.4s ease;
    transition: background-color 0.2s ease;
}

.btn:hover {
    cursor: pointer;
}

.help:hover {
    color: white;
    background-color: #1f57d0;
}

.jj {
    width: 37px;
}


main {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 90px;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 35px;
    padding-bottom: 15px;
}

.intro p {
    font-size: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number {
    padding-top: 50px;
}

.number h3 {
    align-self: center;
}

.number ul {
    display: flex;
    gap: 10px;
    border: solid 1px #D3D3D3;
    border-radius: 30px;
    padding: 8px 30px;
    box-shadow: 0 4px 6px -6px #222;
}

li {
    list-style: none;
    padding: 4px 20px;
    border-radius: 20px;
    transition: color 0.4s ease;
    transition: background-color 0.2s ease;
}

.selected {
    background-color: #e7f0fe;
    color: #1f57d0;
}

li:hover {
    cursor: pointer;
    background-color: #e7f0fe;
    color: #1f57d0;
}

.plan {
    padding-top: 40px;
}

.plan a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
}

.final {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 600px;
    padding-bottom: 200px;
}

.fin {
    height: 200px;
    width: 230px;
}
.name {
    padding-bottom: 10px;
}

.tag {
    background-color: #e7f0fe;
    color: #1f57d0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px
}

.border {
    border: solid #D3D3D3 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.container2 {
    padding: 15px 15px;
}

.flex h5 {
    max-width: 350px;
    color: grey;
}

.last {
    text-align: center;
    color: #1f57d0;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}